body {
    background-color: pink;
    margin: 0; /* Remove default margin */
}

div.user {
    height: 1%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

div.container {
    text-align: center;
    font-size: larger;
    padding: 10px;
    display: inline-block;
    width: 100%;
}

table{
    background-color: white;
}
